name: Generate GitHub App Access Token

on:
  workflow_dispatch:

jobs:
  generate-token:
    runs-on: ubuntu-latest
    outputs:
      access_token: ${{ steps.generate_token.outputs.access_token }}  # Pass token to next job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install PyJWT requests

      - name: Generate Access Token
        id: generate_token
        run: python access_token.py
        env:
          GITHUB_APP_ID: ${{ vars.GIT_APP_ID }}
          GITHUB_PRIVATE_KEY: ${{ secrets.GIT_APP_PRIVATE_KEY }}
          GITHUB_API_URL: "https://api.github.com"

      - name: Verify access token by listing repositories
        run: |
          curl -H "Authorization: Bearer ${{ steps.generate_token.outputs.access_token }}" \
               -H "Accept: application/vnd.github.v3+json" \
               https://api.github.com/installation/repositories

      - name: Debug Access Token
        run: |
          echo "Access Token: ${{ steps.generate_token.outputs.access_token }}"



  use-token:
    runs-on: ubuntu-latest
    needs: generate-token
    steps:
      - name: Use access token
        run: |
          curl -H "Authorization: Bearer ${{ needs.generate-token.outputs.access_token }}" \
               -H "Accept: application/vnd.github.v3+json" \
               https://api.github.com/installation/repositories

      - name: Debug Access Token
        run: |
          echo "Access Token: ${{ needs.generate-token.outputs.access_token }}"
